html {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #efefef;
}

h1,
h2 {
  font-family: "Source Serif Pro", serif;
}

header {
  background-color: #000;
  color: #fff;
}

main {
  background-color: #fff;
  background-image: url("../images/bones.svg");
  background-repeat: repeat;
}

a {
  color: #fff;
}

a:focus {
  outline: 3px solid #60daef;
}

nav a:hover {
  color: #60daef;
}

.fundraising-content,
.adopt-content {
  background-color: #000;
  color: #fff;
}

.about-content,
.rescues-content,
.contact-content {
  background-color: #fff;
  color: #000;
}

.white {
  color: #000;
  background-color: #f78579;
  border: 3px solid #f78579;
}

.black {
  color: #000;
  background-color: #60daef;
  border: 3px solid #60daef;
}

.white:hover {
  color: #fff;
  background-color: #000;
}

.black:hover {
  color: #000;
  background-color: #fff;
  border: 3px solid #fff;
}

form {
  background-color: #fff;
  color: #000;
}

.footer {
  background-color: #000;
  color: #fff;
}

.current {
  color: #60daef
}
