html {
  font-family: 'Source Sans Pro', sans-serif;
}

a:focus {
  outline: 3px solid #60daef;
}

body {
  background-color: #efefef;
}

h1,
h2 {
  font-family: 'Source Serif Pro', serif;
}

header {
  background-color: #000;
  color: #fff;
}

a {
  color: #fff;
}

.fundraising-content,
.contact-content {
  background-color: #000;
  color: #fff;
}

.about-content,
.rescues-content,
.adopt-content {
  background-color: #fff;
  color: #000;
}

.white {
  color: #fff;
  background-color: #f78579;
  border: 3px solid #f78579;
}

.black {
  color: #000;
  background-color: #60daef;
  border: 3px solid #60daef;
}
